---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "skeleton/skeleton",
        "colors",
        "posts",
        "variables",
        "footer",
        "articles",
        "gallery",
        "utilities",
        "header"
;

body {
    font-family: $serif;
}
html {
    font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
    line-height: 1.1;
    letter-spacing: 0;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
a {
    color: $black;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: $black;
}
.col-center {
    float: none;
    margin: 0 auto;
}
