<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} – {{site.title}} {% else %}{{ site.title }}{% endif %}</title>
    <link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#23a630">

    <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600|Alegreya:400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% seo %}
</head>
