@import "variables";
@import "colors";

.separator {
    width: 15rem;
    margin-bottom: 2rem;
}
.about {
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.8rem;
}
.doge,
.about--text {
    vertical-align: middle;
    display: inline-block;
}
.about--text {
    margin-left: 1.5rem;
}
.about--text p {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0;
    line-height: 1.2;
}
.about--text p:last-child {
    margin-top: 0.5rem;
}
.about img {
    width: 15rem;
    text-align: center;
}

@media (min-width: $mobile) {
    .about--text p {
        text-align: left;
    }
}
