@import "variables";
@import "colors";

.header,
.headerPages {
    padding-left: 2rem;
}
.siteTitle,
.siteTitle-center {
    text-align: center;
    font-family: $sans;
    line-height: 0.8;
    margin-bottom: 1rem;
}
.siteTitle-center {
    margin-bottom: 0.8rem;
}
.siteTitle--link {
    color: $black;
    font-weight: 700;
    text-decoration: none;
    font-size: 3.2rem;
    transition: 0.2s;
}
.intro,
.intro-center {
    text-align: center;
}
.introText {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

@media (min-width: 1188px) {
    .siteTitle {
        text-align: left;
    }
    .intro {
        text-align: left;
    }
    .header {
        padding-left: 2rem;
    }
}
