@import "variables";
@import "colors";

pre {
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px
}
pre > code {
    padding: 1rem;
}
figure {
    margin: 0;
}
code {
    font-family: "Monaco", "Courier", monospace;
    border: 0;
    border-radius: 0;
}
.postHeader {
    font-weight: 400;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}
.postMeta {
    font-weight: 400;
}
.postLink {
    padding: 1rem;
    display: block;
    transition: 0.2s;
}
.postLink:hover {
    background-color: $yellow-t;
    border-radius: 0.2rem;
}
.postHeadline {
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.postContent {
    width: 80%;
}
.postImgQuote {
    text-align: right;
}
.postLead {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
}
.idLink {
    font-size: 90%;
    color: #ccc;
}