/* ==========================================================================
   TYPE
   - Meat
   - Headings
   - Media Query adjustments
   ========================================================================== */

/* Meat
   ========================================================================== */

p {           
    font-size: $fsp;
    line-height: $lh; 
}

p.header-figure {
  font-family: $sans;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #D9D9D9;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 1%;
  margin-left: 5%;

}

.drop-cap {
    font-family: $serif;
    font-weight: 700;
    font-size: 72px;
    float: left;
    height: 50px;
    margin-right: 3px;  
    line-height: 80px;
    color: #2A3840;
} 

div.header-figure-box {
  position: absolute;
  right: 5px;

}

.intro {      
    font-size: $fs3; 
    line-height: 1.4em;
}

.post ul li {
    font-size: $fsp;
    line-height: $lh;
    margin-bottom: $lh/3;
}

.cover-text {
    font-size: 100px;
    text-align: right;
    position: relative;
    top: 60%;
    right: 5%;
    color: white;
    margin-left: 1%;
    line-height:75px;
    letter-spacing: -3px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

}

.cover-text-italics {
    font-size: 40px;
    font-style: italic;
    text-align: right;
    position: relative;
    top: 60%;
    right: 5%;
    color: white;
    margin-left: 1%;
    line-height:75px;
    letter-spacing: -3px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.cover-text-front {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  position: relative;
  top: 70%;
  color: white;
  margin-left: 1%;
  line-height:60px;
  letter-spacing: -2px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.cover-text-date {
font-size: 20px;
font-weight: 300;
text-align: center;
position: relative;
top: 65%;
color: white;
margin-left: 1%;
line-height:60px;
letter-spacing: -1px;

}

.cover-text-about {
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  position: relative;
  top: 50%;
  color: white;
  line-height:60px;
  letter-spacing: -2px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.3),
               0px 8px 13px rgba(0,0,0,0.5),
               0px 18px 23px rgba(0,0,0,0.5);
}


/* Headings
   ========================================================================== */

h1,.h1 {      font-size: $fs1; font-weight: 700; }
h2,.h2 {      font-size: $fs2; } 
h3,.h3 {      font-size: $fs3; } 
h4,.h4 {      font-size: $fs4; } 
h5,.h5 {      font-size: $fs5; } 
h6,.h6 {      font-size: $fs6; } 

.meta {       font-size: $fs6; }

blockquote, blockquote p {  font-size: $fs2; }

.archive input { font-size: $fs2}


/* Tablet
   ========================================================================== */

@media only screen and (max-width: $breakpoint-2-max-width) {


.cover-text {
font-size: 70px;
text-align: right;
position: relative;
top: 60%;
right: 5%;
line-height: 45px;
}

.cover-text-italics {
font-size: 40px;
text-align: right;
position: relative;
top: 60%;
right: 5%;
line-height: 45px;
margin-left: 2%;

}

.cover-text-front {
font-size: 50px;
top: 50%;
font-weight: 700;
}

.cover-text-date {
font-size: 20px;
font-weight: 300;
top: 50%;
}



}
// Iphone 

@media only screen and (max-width: $breakpoint-1-max-width) {

p {           
    font-size: 16px;
    line-height: $lhsmall;
}

.intro {      
    font-size: $fs4; 
    line-height: 1.4em;
}

.cover-text {
font-size: 50px;
text-align: right;
position: relative;
top: 30%;
right: 5%;
line-height: 45px;
}

.cover-text-italics {
font-size: 30px;
text-align: right;
position: relative;
top: 30%;
right: 5%;
line-height: 45px;
margin-left: 2%;

}

.cover-text-front {
font-size: 40px;
font-weight: 700;
top: 50%;
}

.cover-text-date {
font-size: 18px;
font-weight: 300;
top: 45%;
}


.post ul li {
    font-size: $fs5;
    line-height: $lhsmall;
    margin-bottom: $lhsmall/2;
}

h1,.h1 {      font-size: $fs2; }
h2,.h2 {      font-size: $fs3; } 
h3,.h3 {      font-size: $fs4; } 
h4,.h4 {      font-size: $fs5; } 
h5,.h5 {      font-size: $fs6; } 
h6,.h6 {      font-size: $fs6; } 

.meta {       font-size: $fs6; }

blockquote, blockquote p {  font-size: $fs4; }

.archive input { font-size: $fs3}

}