$serif: "freight-text-pro", "Georgia", serif;
$italic: "freight-text-pro", "Georgia", serif;
$sans: "franklin-gothic-urw", "Helvetica Neue", "Helvetica", "Liberation Sans", Arial, sans-serif;

$mobile: 550px;
$tablet: 768px;
$desktop: 1000px;
