.wrap {
  max-width: 650px;
  margin: 0 auto;
}
.wrap-wide {
  max-width: 850px;
  margin: 0 auto;
}
.news.wrap {
  padding: 1em;
  margin-bottom: 1em;

  @media (min-width: 860px) {
    padding: 1em 5em;
  }
}
.about {
  margin-bottom: 3em;
}
footer.wrap-wide {
  margin-bottom: 1.5em;
}

.project {
  &:not(:last-child) {
    margin-bottom: 3em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--light-grey);
  }
  img {
    width: 100%;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 5px;
  }
  .side {
    flex-basis: 24%;
  }
  .block {
    flex-basis: 70%;
  }
  video {
    width: 100%;
    height: 100%;
  }
  .side a {
    color: var(--black);
    text-decoration: none;
  }
  .side a:hover {
    text-decoration: underline;
  }
  .side a:visited {
    color: var(--black);
  }
  .publisher {
    line-height: 18px;
  }
  .time {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .coauthors {
    padding-top: 4px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .role {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .project-info {
    @media (min-width: 860px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .project-info img + em {
    font-size: 16px;
  }
  ul {
    list-style: disc;
    padding-left: 1em;
    margin-bottom: 1em;
  }
  code {
    font-family: "Monaco", monospace;
    font-size: 14px;
  }
}
