/* project style */
:root {
  --serif: "Newzald", "Georgia", "serif";
  --base: 1.188rem;
  --jumbo: 1.80225rem;
  --h1: 1.602rem;
  --h2: 1.424rem;
  --h3: 1.266rem;
  --h4: 1.125rem;
  --small: 0.889em;
  --black: #333;
  --link: #1083cf;
  --grey: #8c8c8c;
  --light-blue: #eaf5ff;
  --light-orange: #fff0e7;
  --light-yellow: #fffff7;
  --light-grey: #e2e2e2;
}

.grey {
  color: var(--grey);
}
.mb0 {
  margin-bottom: 0 !important;
}
.p0 {
  padding: 0 !important;
}
.mb1 {
  margin-bottom: 0.5rem !important;
}
.mb2 {
  margin-bottom: 1rem !important;
}
.h4 {
  font-size: var(--h4);
}
.lh-solid p {
  line-height: 1.2;
  margin-bottom: 0.1em;
}
