{% if page.image.feature %}

{% include head-feature.html %}

<section class="article">

  <div class="featured-image-cover" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})">  
  
  <p class="cover-text-about">{{page.title}}</p>
  </div>
  </div>

{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}

{% if page.figure %}
<div class="header-figure-box">
  <p class="header-figure">{{ page.figure }}</p>
</div>
{% endif %}

      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
          </hgroup>
        </header>

		{{ content }}			
        <!--<a class="share" href="https://twitter.com/share?text=&quot;{{ page.title }}&quot;%20vía%20&#64;{{ site.owner.twitter }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Share <i class="fa fa-twitter"></i><span class="hidden"></span> </a>-->

      <!-- Disqus sólo aparece si quieres comentar, heh. -->
      <a href="#comments" class="show-comments" role="button">Comment <i class="fa fa-comments"></i></a>
 
      <!-- Carga el thread -->
      <div class="disqus" id="disqus_thread"></div>

      </article>
    </section>
</div>
{% include footer.html %}
