---
layout: default
---
<main>
  <section class="about wrap">
    <h2>About</h2>
    {{ content }}
  </section>

  <section class="projects wrap-wide mb2">
    {% for project in site.projects reversed %}
    <article class="project">
      <a href="{{ project.link }}">
        <figure class="mb1">
          {% if project.video %}
          <video autoplay loop muted alt="{{ project.title }}" src="{{ project.video | relative_url }}" />
          {% else %}
          <img alt=" {{ project.title }}" src="{{ project.image | relative_url }}" />
          {% endif %}
        </figure>
      </a>

      <div class="project-info">
        <div class="side">
          <h3><a href="{{ project.Link }}">{{ project.title }}</a></h3>
          <p class="publisher grey mb0"><em>{{ project.publisher }}</em></p>
          <p class="time grey">
            <time>{{ project.date | date: "%b %d, %Y" }}</time>
          </p>
          {% if project.coauthors %}
          <p class="coauthors grey">
            With {{ project.coauthors | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
          {% endif %}
        </div>
        <div class="block">
          {{ project.content | markdownify }}
        </div>
      </div>
    </article>
    {% endfor %}
  </section>
</main>