{% include head-feature.html %}
<div id='bump'>
<section class="article" style="margin-bottom: 0px">
<div id="frontpicture" style="background: url({{ site.url }}/images/cover.jpg) no-repeat center top fixed" class="featured-image-cover">
  	<p class="cover-text">Data Journalist</p>
  	<p class="cover-text-italics">“Have you tried turning it off and on again?”</p>
 </div>

<div id="contentbody">
<div class="portfolioParent" id="portfolio">
  <a class="scroll-down fa fa-angle-down" href="#portfolio" data-offset="-45"><span class="hidden"></span></a>
<div id="filters" class="portfolioFilter">
    <a href="#" data-filter="*" class="current">All Categories</a>
    <a href="#" data-filter=".articles">Articles</a>
    <a href="#" data-filter=".viz">Viz</a>
    <a href="#" data-filter=".interviews">Interviews</a>
    <a href="#" data-filter=".projects">Projects</a>
    <a href="#" data-filter=".speaking">Speaking</a>
</div>
</div>

<div id="isotope" class="isotope">
 <div class="item width2 projects" style="background:url(https://dl.dropboxusercontent.com/u/55065502/concertados.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://comunidad.medialab-prado.es/en/node/865" target="_blank">
    <div id="overlay-box">
     <span id="description-box">State-subsidised schools in Spain</span>
    </div></a>
  </div>

 <div class="item width2 viz" style="background:url(https://dl.dropboxusercontent.com/u/55065502/spain-imports.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.eldiario.es/economia/Espana-paises-respetan-derechos-laborales_0_296770922.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Worst countries to work in</span>
    </div></a>
  </div>

    <div class="item width2 projects" style="background:url(https://dl.dropboxusercontent.com/u/55065502/historias.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.eldiario.es/multimedia/historias_de_la_crisis/index.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Stories of the crisis</span>
    </div></a>
  </div>

  <div class="item width2 viz" style="background:url(https://dl.dropboxusercontent.com/u/55065502/gaza.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.eldiario.es/politica/victimas-mortales-israelies-Franja-Gaza_0_281722634.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">The Victims of Gaza</span>
    </div></a>
  </div>

  <div class="item width2 viz" style="background:url(https://dl.dropboxusercontent.com/u/55065502/israel-arms-spain.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.eldiario.es/politica/exportacion-armas-espana-israel-gaza_0_289071667.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Spain weapons imports from Israel</span>
    </div></a>
  </div>


   <div class="item width2 viz" style="background:url(https://dl.dropboxusercontent.com/u/55065502/m100-arms.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.m100-workshop.com/projects/project_militaryTradeNew.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">The Trojan Horse in the Middle East</span>
    </div></a>
  </div>

   <div class="item width2 viz" style="background:url(https://dl.dropboxusercontent.com/u/55065502/ebola-deaths.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.eldiario.es/sociedad/ebola-brote-motalidad-expansion_0_289421595.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Ebola Deaths</span>
    </div></a>
  </div>

 <div class="item width2 speaking" style="background:url(https://dl.dropboxusercontent.com/u/55065502/malagaimagen.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://slides.com/mgonzalezgmz/linux-en-los-medios#/" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Linux and the Media</span>
    </div></a>
  </div>

   <div class="item width2 articles" style="background:url(https://dl.dropboxusercontent.com/u/55065502/newsapp-Akademyes2013.jpg);
    background-size:cover;
    overflow:hidden;"> <a href="http://akademyes2013.martingonzalez.net/" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Akademy-es 2013</span>
    </div></a>
  </div>

  <div class="item width2 projects" style="background:url(https://dl.dropboxusercontent.com/u/55065502/bcnlovesfloss.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.meetup.com/Barcelona-Free-Software-Users-Hackers/" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Barcelona Free Software Users & Hackers</span>
    </div></a>
  </div>

 <div class="item width2 interviews" style="background:url(https://dl.dropboxusercontent.com/u/55065502/simon-crop.jpeg);
    background-size:cover;
    overflow:hidden;"> <a href="http://www.eldiario.es/turing/Simon-Rogers-periodismo-necesita-transparente_0_274373511.html" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Simon Rogers: Twitter, Data Blog</span>
    </div></a>
  </div>

  <div class="item width2 speaking" style="background:url(https://dl.dropboxusercontent.com/u/55065502/logo-jpd14.png);
    background-size:cover;
    overflow:hidden;"> <a href="http://periodismodatos.okfn.es/meetup/" target="_blank">
    <div id="overlay-box">
     <span id="description-box">Vist al DOGC - #JPD14</span>
    </div></a>
  </div>

</div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 500);
        return false;
      }
    }
  });
});
</script>

<script type="text/javascript">
	$(document).ready(function () {
	  var $container = $('#isotope');
		$( function() {
		  $('.isotope').isotope({
		    itemSelector: '.item',
		    masonry: {
		      columnWidth: 50,
		      isFitWidth: true
		    }
		});
	});

 $(window).load(function(){
    $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    });
    if(window.location.hash) {
            // Handler for .ready() called.
      $('html, body').animate({
        scrollTop: $('#portfolio').offset().top
        }, 'slow');
    }
    $(window).bind('scroll',function(e){
      parallaxScroll();
    });
 
    function parallaxScroll(){
      var scrolledY = $(window).scrollTop();
    $('#frontpicture').css('background-position','center -'+((scrolledY*0.5))+'px');
    $('#contentbody').css('top','-'+((scrolledY))+'px');
    	} 
	});
});
</script>

{% include footer.html %}