---
layout: blank
---
<link rel="stylesheet" href="/assets/postgrado-blanquerna-d3/css/style.css" />
<script src="/assets/postgrado-blanquerna-d3/javascript/d3.v4.min.js"></script>

<main>
  <div class="wrap mb2">
    <h1>Visualizando elecciones</h1>
    <h2 class="mb1"><a href="/2019/postgrado-blanquerna-d3/">Una introducción práctica a R y D3</a></h2>

    <p><em>Diploma d'Especialització Universitària en Periodisme de Dades i Visualització, Blanquerna</em>
      <p>

        <div class="byline-and-date">
          <p>Martín González Gómez</p>
          <p><time>Barcelona, 3 y 4 de mayo, 2019</time></p>
        </div>
  </div>

  <section class="wrap">
    {{ content}}
  </section>

  <footer class="wrap">
    <div>{{ site.title }} · Última actualización el <time>6 de mayo de 2019</time>.</div>

    <div><a href="mailto:m@martingonzalez.net">m@martingonzalez.net</a></div>
  </footer>
</main>