---
layout: default_center
---
<div class="row">
    <header class="articleHeader m-b-2">
        <h1 class="articleHeadline balance-text center-block">{{ page.title }}</h1>
        <p class="articleMeta center-block">Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article>
        <div class="row">
            {% if page.type == "html" %}
                <div class="twelve columns">
                    {{ content }}
                </div>
            {% else %}
                <div class="eight columns col-center">
                    {{ content }}
                </div>
            {% endif %}
        </div>
    </article>
    <div class="feedback m-b-4 m-t-4">
        <p class="balance-text u-italic">Have a comment? <a href="{{site.repo_url}}/issues/new">Open an issue</a> or bug me on <a href="{{site.twitter_url}}">Twitter</a>.</p>
    </div>
</div>
