---
layout: default_pages
---
<div class="row project m-b-4 m-t-1">
    <div class="page-nav">
        {% for post in site.categories.project %}
            {% if post.url == page.url %}
                {% assign post_index0 = forloop.index0 %}
                {% assign post_index1 = forloop.index %}
            {% endif %}
        {% endfor %}
        {% for post in site.categories.project %}
            {% if post_index0 == forloop.index %}
                {% assign next_post = post.url %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
                {% assign prev_post = post.url %}
            {% endif %}
        {% endfor %}
        {% if next_post %}
            <a class="previous" href="{{ next_post }}">←</a>
        {% endif %}
        {% if prev_post %}
            <a class="next" href="{{ prev_post }}">→</a>
        {% endif %}
    </div>
    <header class="articleHeader">
        <h1 class="articleHeadline balance-text">{{ page.title }}</h1>
        <p class="articleMeta m-b-1">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} {% if page.client%} / {{page.client}} {% endif %}</p>
    </header>

    <article>
        {{ content }}
    </article>
</div>
