---
layout: default_center
---
<div class="row">
    <header class="articleHeader">
        <h1 class="articleHeadline balance-text m-b-1 center-block">{{ page.title }}</h1>
        <p class="articleMeta center-block">— Posted on {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article>
        <div class="row">
            <div class="twelve columns">
                <div id="vis" class="p-b-2"></div>
                <div class="eight columns col-center">
                    {{ content }}
                </div>
            </div>
        </div>
    </article>
    <div class="feedback m-b-4 m-t-4">
        <p class="balance-text">Have a comment? <a href="{{site.repo_url}}/issues/new">Open an issue</a> or bug me on <a href="{{site.twitter_url}}">Twitter</a>.</p>
    </div>
</div>
